* {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

header,
footer {
    width: 100%;
    height: 165px;
    color: white;
}

header {
    background: linear-gradient(360deg, rgb(0, 255, 255), rgb(0,200,255) 90%);
}

footer {
    background: linear-gradient(360deg, rgb(0,200,255), rgb(0, 255, 255));
}

h1,
h2 {
    text-align: center;
    padding-top: 10px;
}

img {
    display: block;
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.header-img {
    height: 50px;
    width: 50px;
    padding-top: 10px;
}

ul {
    padding: 15px 40px 25px 40px;
    font-size: 20px;
}

ol {
    padding: 0 40px 0 40px;
}

.nested-ul {
    padding: 0 40px;
}

p {
    text-align: center;
    font-size: 30px;
    padding: 45px;
  }

  .card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
  }